*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 100%, 74%);
    background-image: url(images/bg-intro-desktop.png);
    display: grid;
    place-items: center;
    height: 100vh;
}
main{
    display: grid;
    grid-template-areas: 
    "a a b b"
    "a a c c"
    "a a c c";
    gap: 20px;
    width: 80%;
    margin: auto 0;


}
.a h1{
    color: white;
    font-weight: 700;
    line-height: 1.5;
    width: 50%;
    padding-bottom: 20px;
    
}
.a p{
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 2;
    width: 100%;
    
}
.a{
    grid-area: a;
    margin:auto;
}
.b{
    grid-area: b;
}
.c{
    grid-area: c;
}
.b{
    width: 50%;
    background-color: hsl(248, 32%, 49%);
    border-radius: 10px;
    box-shadow: 1px 5px hsl(246, 25%, 77%);
    padding: 15px 100px;
    margin: auto;

}

.b p{
    text-align: center;
    font-size: 16px;
    color: white;
    
}
p span{
    font-weight: 700;
}
.c{
    width: 68%;
    background-color: white;
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 1px 5px hsl(246, 25%, 77%);
    margin: auto;
}
input[type=text]{
    width: 100%;
    font-weight: 700;
    display: inline-block;
    padding: 15px 20px;
    margin: 10px 0;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-transition: 0,5s;
    transition: 0.5s;
    outline: none;
}
input[type=text]:focus{
    border: 1px solid hsl(248, 32%, 49%);
}
input[type=email] {
    width: 100%;
    font-weight: 700;
    display: inline-block;
    padding: 15px 20px;
    margin: 8px 0;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-transition: 0,5s;
    transition: 0.5s;
    outline: none;
}
input[type=email]:focus{
    border: 1px solid hsl(248, 32%, 49%);
}
input[type=password] {
    width: 100%;
    font-weight: 700;
    display: inline-block;
    padding: 15px 20px;
    margin: 8px 0;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-transition: 0,5s;
    transition: 0.5s;
    outline: none;
}
input[type=password]:focus{
    border: 1px solid hsl(248, 32%, 49%);
}

input:invalid :active{
    border: 1px solid hsl(0, 100%, 74%);
    background-image: url(images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 95%;
}
button{
    width: 100%;
    background-color:hsl(154, 59%, 51%);
    color: white;
    padding: 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
.c p{
    font-size: 12px;
    color: hsl(246, 25%, 77%);
    text-align: center;
    padding-top: 5px;
}
.c p a{
    text-decoration: none;
    color:hsl(0, 100%, 74%);
}
.c p a:hover{
    color:hsl(246, 25%, 77%);
    cursor: pointer;
}
@media(max-width:375px) {
 main{
    display: grid;
    grid-template-areas: 
    "a a a a"
    "b b b b"
    "c c c c";
    width: 100%;
    margin: auto;
    gap: 20px;
 }
 .a h1{
    text-align: center;
    width: 100%;
 }
 .a p{width:80%
    text-align: center;
 }
 .b{
    width: 32%;
    margin: auto;
}
.b p{
    width: 100%;
    font-size: 10px;
    
}   
}
